<section class="section pb-0 section-components">
    <div class="container mb-5">
        <!-- Basic elements -->
        <h2 class="mb-5">
            <span>Latent Dirichlet Allocation</span>
        </h2>
        <!-- Inputs -->
        <form ng-submit="preProcess()">
            <h3 class="h4 text-success font-weight-bold mb-4">Preprocess</h3>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <small class="text-uppercase font-weight-bold">Dataset</small>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="upload" ng-model="dataset">
                            <label class="custom-file-label" for="upload">Upload File</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <small class="text-uppercase font-weight-bold">Column</small>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Column name" class="form-control" ng-model="column" required />
                    </div>
                </div>
            </div>

            <!-- Button -->
            <button class="btn btn-1 btn-outline-warning" type="submit" ng-disabled="submitting"
                ng-hide="submitting">Preprocess Dataset</button>
            <button class="btn btn-1 btn-outline-warning" disabled ng-show="submitting">Processing</button>
        </form>
    </div>

    <!-- Print Schema -->
    <div class="container mb-5" ng-show="columns">
        <h3 class="h4 text-success font-weight-bold mb-4">Dataset schema</h3>
        <table class="table table-bordered">
            <tr>
                <th ng-repeat="column in columns" scope="col">{{column.column}}</th>
            </tr>
            <tr>
                <td ng-repeat="column in columns">{{column.type}}</td>
            </tr>
        </table>
    </div>

    <!-- Dataset results -->
    <div class="container mb-5" ng-show="results">
    <!-- <div class="container mb-5"> -->
        <h3 class="h4 text-success font-weight-bold mb-4">Dataset results</h3>
        <table class="table table-bordered">
            <tr>
                <th>Raw</th>
                <th>Processed</th>
            </tr>
            <tr ng-repeat="result in results">
                <td class="processed">{{result.reviewText}}</th>
                <td class="processed">{{result.words}}</td>
            </tr>
        </table>
    </div>
</section>

<div class="model"></div>