<section class="section pb-0 section-components">
	<div class="container mb-5">
		<!-- Basic elements -->
		<h2 class="mb-5">
			<span>Latent Dirichlet Allocation</span>
		</h2>
		<!-- Output -->
		<h3 class="h4 text-success font-weight-bold mb-4">Testing</h3>
		<div class="row">
			<div class="col-lg-1 col-sm-2">
				<small class="text-uppercase font-weight-bold">Search</small>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="form-group">
					<input type="text" placeholder="Keywords" class="form-control" />
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<!-- Button -->
				<button class="btn btn-1 btn-outline-default" type="button">Search</button>
			</div>
		</div>
	</div>
</section>