<section class="section pb-0 section-components">
	<div class="container mb-5">
		<!-- Basic elements -->
		<h2 class="mb-5">
			<span>Latent Dirichlet Allocation</span>
		</h2>
		<!-- Output -->
		<h3 class="h4 text-success font-weight-bold mb-4">Testing</h3>
		<!-- Inputs -->
		<form ng-submit="search()">
			<div class="row">
				<div class="col-lg-12 col-sm-12">
					<div class="mb-3">
						<small class="text-uppercase font-weight-bold">Search</small>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="8" ng-model="keyword"></textarea>
					</div>
				</div>
			</div>

			<!-- Button -->
			<button class="btn btn-1 btn-outline-warning" type="submit" ng-disabled="submitting"
				ng-hide="submitting">Search</button>
			<button class="btn btn-1 btn-outline-warning" disabled ng-show="submitting">Processing</button>
		</form>

		<div id="result">
			<p ng-repeat="topic in topics">
				Topic {{topic.topic}}: {{topic.probability}}
			</p>
		</div>

		<div class="model"></div>
	</div>
</section>